.line {
    height: 1px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
}

.line svg {

    height: 250px;
    position: absolute;
    top: -250px;
}

.line svg path {
    stroke: white;
    stroke-width: 1px;
    fill: none;
}

.line .box {
    height: 40px;
    width: 100%;
    position: relative;
    top: -20px;
    z-index: 1;
}

.line .box:hover {
    height: 200px;
    top: -250px;
}