.hoverText {
  transition: 0.9s font-weight, 0.35s color;
}

.hoverText:hover {
  font-weight: 900;
  color: white;
}

/* To the right */
.hoverText:hover + .hoverText {
  font-weight: 500;
  color: white;
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  font-weight: 200;
  color: white;
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 100;
}